.list-holder-3d li{
  padding: 0!important;
}

.list-item-3d-holder {
  -webkit-perspective: 1000px;
          perspective: 1000px;

}

.panel-btn-group li{
  display: inline-block!important;
  background: #DB9525!important;
  color: #fff;
  margin-right: 2px!important;
  font-size: 13px!important;
  padding: 3px 2px!important;
  width: 54px;
  text-align: center;
  line-height: 14px!important;
  cursor: pointer;
}

.panel-btn-group li:hover{
  background: #2d2625;

}
.panel-btn-group li:first-child{
  border-top-left-radius: 4px;
  border-bottom-left-radius:4px;
}

.panel-btn-group li:last-child{
  border-top-right-radius: 4px;
  border-bottom-right-radius:4px;
}


.list-item-description {
  margin-top: 50px;
  text-align: center;
  color: #999;
  -webkit-transition: opacity 0.3s ease;
          transition: opacity 0.3s ease; }

.list-item-description a {
  color: #4A9DF6;
  text-decoration: none; }

.list-item-panel.is-open ~ .list-item-description {
  opacity: 0; }

.list-item-panel {
  display: block;
  position: relative;
  -webkit-transition: width 0.8s cubic-bezier(0.23, 1, 0.32, 1), height 0.8s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition: width 0.8s cubic-bezier(0.23, 1, 0.32, 1), height 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
 }

.list-item-panel-front {
  padding: 17px 10px;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background 0.15s ease, line-height 0.8s cubic-bezier(0.23, 1, 0.32, 1);
          transition: background 0.15s ease, line-height 0.8s cubic-bezier(0.23, 1, 0.32, 1); }
  .list-item-panel-front:hover {
    background-color: #fff; }


.list-item-panel.is-open .list-item-panel-back{
  z-index: 2;
}
.list-item-panel-back {
  padding: 5px 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0D173B;
  color: #fff;
  -webkit-transform: translateZ(-2px) rotateX(180deg);
          transform: translateZ(-2px) rotateX(180deg);
  overflow: hidden;
  -webkit-transition: box-shadow 0.8s ease;
          transition: box-shadow 0.8s ease; }
  .list-item-panel-back p {
    margin-top: 27px;
    margin-bottom: 25px; }
  .list-item-panel-back button {
    padding: 12px 20px;
    width: 30%;
    margin: 0 5px;
    background-color: transparent;
    border: 0;
    border-radius: 2px;
    font-size: 1em;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: background 0.15s ease;
            transition: background 0.15s ease; }
  .list-item-panel-back button:focus {
    outline: 0; }
  .list-item-panel-back button.yes {
    background-color: #0d173b;
    color: #fff; }
    .list-item-panel-back button.yes:hover {
      background-color: #353d58; }
  .list-item-panel-back button.no {
    color: #0D173B; }
    .list-item-panel-back button.no:hover {
      background-color: #ddd; }

.list-item-panel[data-direction="left"] .list-item-panel-back,
.list-item-panel[data-direction="right"] .list-item-panel-back {
  -webkit-transform: translateZ(-2px) rotateY(180deg);
          transform: translateZ(-2px) rotateY(180deg); }

.list-item-panel.is-open {
  /*width: 400px;
height: 160px;*/ }
  .list-item-panel.is-open .list-item-panel-front {
    pointer-events: none;
  /*line-height: 160px; */}
  .list-item-panel.is-open .list-item-panel-back {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4); }

.list-item-panel[data-direction="top"].is-open {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg); }

.list-item-panel[data-direction="right"].is-open {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg); }

.list-item-panel[data-direction="bottom"].is-open {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg); }

.list-item-panel[data-direction="left"].is-open {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg); }


.list-item-panel-back .list-title{
  margin:0!important;
  padding:0!important;
  color: #fff!important;
  font-weight: bold!important;
  font-size: 14px;
}

.header-panel{
  background: none!important;
  cursor: default!important;
}
