html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
	font-family: 'Open Sans', sans-serif;
	background: #F8EFE6;
	padding-top:70px;
}
a {
	color:inherit;
}
.wrap{
	margin:0 auto;
	width:650px;
	max-width: 100%;
	padding: 0 20px 20px;
	overflow: hidden;
}


.main-menu li{
	display: inline-block;
	position: relative;
}

.list-holder li{
	display: block;
	position: relative;
	background: #fff;
	margin: 5px 0;
	padding: 17px 10px;
	font-size: 15px;
	line-height: 18px;
}



.list-header{
	background: none!important;
	margin: 10px 0 0px!important;
	color: #B9B3A8!important;
	font-size: 13px!important;
	text-transform: uppercase;
	font-weight: bold;
	padding-left: 0!important;
}
.list-title{
	display: inline-block;
	margin-left: 50px;
	text-align: left;
	vertical-align: middle;
	padding-right: 74px;
}
.round-badge-sm{
	display: block;
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	background: #0D173B;
	color: #fff;
	border-radius: 50%;
	padding-top: 8px;
	width: 34px;
	text-align: center;
	height: 34px;
	font-weight: bold;
}

.list-badge-right{
	position: absolute;
	right: 10px;
	top:17px;
	color: #985B38;
	font-weight: bold;
}
.zones-far .list-title, .zones-far .list-badge-right{
	color:#AAA6A0;
}
.zones-near .list-title{
	color:#0D173B;
	font-weight: bold;
}


/* Icon 1 */

#hamburger {
  width: 30px;
  height: 30px;
  position: absolute;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
	top: 25px;
	left:22px;
}

#hamburger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#hamburger span:nth-child(1) {
  top: 0px;
}

#hamburger span:nth-child(2) {
  top: 7px;
}

#hamburger span:nth-child(3) {
  top: 14px;
}

#hamburger.open span:nth-child(1) {
  top: 7px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#hamburger.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#hamburger.open span:nth-child(3) {
  top: 7px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}


#header{
	position: fixed;
	top:0;left:0;
	width:100%;
	z-index: 99999;
}


.header-inner-wrap, .header-ui{
	background: #DB9525;
	height: 65px;
}
.header-ui{
	margin: 0 auto;
  width: 650px;
  max-width: 100%;
  padding: 0 20px 20px;
	position: relative;
}
.header-inner-wrap{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 2;
}


.top-badge{
	position: absolute;
  top: 17px;
  right: 16px;
  font-size: 13px;
  display: block;
  background: #D1861D;
  color: #fff;
  padding: 10px;
  border-radius: 20px;
}
.page-title{
	font-size: 24px;
	color: #fff;
}

.page-title-wrap{
	padding-left: 79px;
  margin-top: 20px;
  overflow: hidden;
  height: 27px;
}

.page-title-holder{
	transition: all 0.3s ease;
	transform: translateY(-27px);
}

.page-title-holder.active-menu{
	transform: translateY(0);
}
.menuHolder{
	position: absolute;
	top: 65px; left: 0;
	background: #DB9525;
	width: 100%;
	padding: 21px;
}

.active-menu .menu-item-badge{
	background: #fff!important;
}
.active-menu .menu-item-badge i{
	color: #D1861D!important;
}
.menu-item-badge{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	display: inline-block;
	background: #D1861D;
	font-size: 15px;
	text-align: center;
	padding-top:33px;
	/*transition:box-shadow 0.3s ease;*/
}
/*
.menu-item-badge:hover{
	-webkit-box-shadow: inset 0 0 0 2px #efb360;
	-moz-box-shadow: inset 0 0 0 2px #efb360;
	box-shadow: inset 0 0 0 2px #efb360;
}
*/
.menu-list li{
	display: inline-block;
	vertical-align: top;
  color: #fff;
  width: 117px;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
}

.mobilly-logo{
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	margin-bottom: 2px;
}
.mobilly-logo span{
	display: inline-block;
	background: #0D173B;
	width:26px;
	height: 26px;
	border-radius: 50%;
	text-align: center;
	padding-top:7px;
	margin-right: 2px;

}

.menu-item-title{
	display: inline-block;
	font-size: 14px;
	padding-top:5px;
}

.page-holder h1{
	text-align: left;
	font-size: 16px;
	padding: 20px 0;
	line-height: 20px;
	color:#0D173B;
}

.floating-label.focused-input label{
  transform: translate3D(0,-4px,0) scale(.7);
  padding-bottom: 0;
  color: #106CC8;
}
.floating-label.focused-input input{
  border-color:#106CC8;
  border-width: 0 0 2px;
}



.floating-label label{
    transform: translate3d(0,28px,0) scale(1);
    transition: all 0.3s ease;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    transform-origin: left top;
    bottom:100%;
    padding-bottom: 5px;
    font-size: 14px;
    color: #aaa;
}

.input-holder{
  position: relative;
}
.floating-label input{
  display: block;
  margin-top: 0;
  background: 0 0;
  padding: 2px 2px 1px;
  border-width: 0 0 1px;
  line-height: 26px;
  height: 30px;
  border-radius: 0;
  border-style: solid;
  width: 100%;
  box-sizing: border-box;
  font-size: 15px;
  color:#106CC8;
  position: relative;
  border-color:#aaa;
}
.floating-label input:focus{
  outline:0;
}
.floating-label{
  margin:40px;
}
.input-wrap{
	margin-top:-20px;
}





.alert-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.description {
  margin-top: 50px;
  text-align: center;
  color: #999;
  -webkit-transition: opacity 0.3s ease;
          transition: opacity 0.3s ease; }

.description a {
  color: #4A9DF6;
  text-decoration: none; }

.btn.is-open ~ .description {
  opacity: 0; }

.btn {
  display: block;
  position: relative;
  width: 200px;
  height: 80px;
  -webkit-transition: width 0.8s cubic-bezier(0.23, 1, 0.32, 1), height 0.8s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition: width 0.8s cubic-bezier(0.23, 1, 0.32, 1), height 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  text-align: center; }

.btn-front {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 80px;
  background-color: #F44336;
  color: #fff;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background 0.15s ease, line-height 0.8s cubic-bezier(0.23, 1, 0.32, 1);
          transition: background 0.15s ease, line-height 0.8s cubic-bezier(0.23, 1, 0.32, 1); }
  .btn-front:hover {
    background-color: #f77066; }

.btn-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #eee;
  color: #222;
  -webkit-transform: translateZ(-2px) rotateX(180deg);
          transform: translateZ(-2px) rotateX(180deg);
  overflow: hidden;
  -webkit-transition: box-shadow 0.8s ease;
          transition: box-shadow 0.8s ease; }
  .btn-back p {
    margin-top: 27px;
    margin-bottom: 25px; }
  .btn-back button {
    padding: 12px 20px;
    width: 30%;
    margin: 0 5px;
    background-color: transparent;
    border: 0;
    border-radius: 2px;
    font-size: 1em;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: background 0.15s ease;
            transition: background 0.15s ease; }
  .btn-back button:focus {
    outline: 0; }
  .btn-back button.yes {
    background-color: #0d173b;
    color: #fff; }
    .btn-back button.yes:hover {
      background-color: #353d58; }
  .btn-back button.no {
    color: #0D173B; }
    .btn-back button.no:hover {
      background-color: #ddd; }

.btn[data-direction="left"] .btn-back,
.btn[data-direction="right"] .btn-back {
  -webkit-transform: translateZ(-2px) rotateY(180deg);
          transform: translateZ(-2px) rotateY(180deg); }

.btn.is-open {
  width: 400px;
  height: 160px; }
  .btn.is-open .btn-front {
    pointer-events: none;
    line-height: 160px; }
  .btn.is-open .btn-back {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4); }

.btn[data-direction="top"].is-open {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg); }

.btn[data-direction="right"].is-open {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg); }

.btn[data-direction="bottom"].is-open {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg); }

.btn[data-direction="left"].is-open {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg); }


@media screen and (max-width: 500px) {
	.menu-list li{
		width:105px;
	}
}
